@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Core Rhino 85";
  src: url(../core-rhino-85-black.otf);
}

:root {
  --primary-color: #417a93;
  --background-color: #f9f5f0;
  --dark-color: #1b3454;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif, "core-rhino-85-black";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */

.container-tarjetas {
  max-width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
  background-color: var(--background-color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.customer-support {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.customer-support i {
  font-size: 3.3rem;
}

.content-customer-support {
  display: flex;
  flex-direction: column;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container-logo i {
  font-size: 3rem;
}

.container-logo h1 a {
  text-decoration: none;
  color: #1b3454;
  font-size: 3rem;
  letter-spacing: -1px;
}

.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.container-user .fa-user {
  font-size: 3rem;
  color: var(--primary-color);
  padding-right: 2.5rem;
  border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
  font-size: 3rem;
  color: var(--primary-color);
  padding-left: 1rem;
  margin-right: 1rem;
}

.content-shopping-cart {
  display: flex;
  flex-direction: column;
}

/* ************* NAVBAR ************* */
.container-navbar {
  background-color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navbar .fa-bars {
  display: none;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--dark-color);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease;
}

.menu a::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  color: var(--dark-color);
  background-color: #a6a6a6;
}

.menu a:hover {
  color: var(--primary-color);
  background-color: #1b3454;
  transform: scale(1.12);
  border-radius: 3px;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 2rem;
  background-color: #fff;
  height: 4.4rem;
  overflow: hidden;
  cursor: text;
}

.search-form input {
  outline: none;
  font-family: inherit;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: #777;
  cursor: text;
}

.search-form .btn-search {
  border: none;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.btn-search i {
  font-size: 2rem;
  color: #fff;
}

/*Banner*/

.banner {
  border-radius: 24px;

  * {
    border-radius: 24px;
  }
}

.banner-img {
  height: 54vh;
}

.container-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 2vh;
  margin: 0;
}

.card-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 0;
}

.card-feature i {
  font-size: 2.7rem;
  color: var(--primary-color);
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feature-content span {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--dark-color);
}

.feature-content p {
  color: #777;
  font-weight: 500;
}

.dropdown-menu {
  min-width: 220px;
}

.tooltip-inner {
  font-size: 1.2rem;
}

.lead {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

@media only screen and (max-width: 1000px) {
  .banner * {
    height: fit-content;
  }
}

@media only screen and (max-width: 500) {
  .container-hero * {
	font-size: 1vw;
    transform: scale(0.4);
	font-size: x-small;
	filter: grayscale(50);
  }
}
