# Permite el acceso desde cualquier dominio
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Origin, Content-Type, X-Auth-Token"

# Configura la respuesta a las solicitudes OPTIONS (preflight)
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]
</IfModule>

# Custom 404 Error Page
ErrorDocument 404 http://localhost/view/error.html

# Custom 500 Error Page
ErrorDocument 500 http://localhost/view/error.html

# Custom 403 Error Page (Forbidden)
ErrorDocument 403 http://localhost/view/error.html

# Custom 401 Error Page (Unauthorized)
ErrorDocument 401 http://localhost/view/error.html

