#comoComprarMain {

    background-color: --background-color;

    & * {

        font-family: Arial, Helvetica, sans-serif;
        color: --primary-color;
        font-weight: 600;
        font-size: 170%;

    }

}