@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@font-face {
    font-family: "Core Rhino 85";
    src: url(../../assets/core-rhino-85-black.otf);
}

:root {
    --primary-color: #417a93;
    --secondary-color: #A3D6D2;
    --tertiary-color: #FFDE59;
    --background-color: #f9f5f0;
    --dark-color: #1b3454;
}

html {
    font-size: 62.5%;
    font-family: "core-rhino-85-black", sans-serif, "arial";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */

.container-tarjetas {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

/* ************* NAVBAR ************* */
.container-navbar {
    background-color: var(--primary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars {
    display: none;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease;
}

.menu a::after {
    content: "";
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    color: var(--dark-color);
    background-color: #a6a6a6;
}

.menu a:hover {
    color: var(--primary-color);
    background-color: #1b3454;
    transform: scale(1.12);
    border-radius: 3px;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
    cursor: text;
}

.search-form input {
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: text;
}

.search-form .btn-search {
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i {
    font-size: 2rem;
    color: #fff;
}

/*Banner*/

.banner {
    border-radius: 24px;

    * {
        border-radius: 24px;
    }
}

.banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 54vh;
}

.container-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 2vh;
    margin: 0;
}

.card-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-feature i {
    font-size: 2.7rem;
    color: var(--primary-color);
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--dark-color);
}

.feature-content p {
    color: #777;
    font-weight: 500;
}

.dropdown-menu {
    min-width: 220px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.tooltip-inner {
    font-size: 1.2rem;
}

.lead {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

#footer {
    background-color: #1b3454;

    & p {
        color: #a6a6a6;
    }
}

#precio {
    color: #417a93;
    font-weight: bold;
    font-size: 20px;
}

#resultados {

    position: absolute;
    top: 100%;
    float: right;
    margin-left: auto;
    margin-right: 0;
    width: max-content;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
}

#itemsIndex {

    height: 627.167px;
    display: block;

    & img {
        object-fit: contain;
    }
}

@media only screen and (max-width: 1000px) {
    .banner * {
        height: fit-content;
    }
}

@media only screen and (max-width: 500px) {
    .banner-img {
        & * {
            border-radius: 5px;
        }

        height: 20px;
        border-radius: 5px;
    }
}