<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPER PALOMITAS</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <main>
        <h1>
            SUPER PALOMITAS
        </h1>
        <nav>

            <ul>
                <li>
                    <h2>USUARIOS</h2>
                    <ul>
                        <li><a href="verUsuarios.html">VER USUARIOS</a></li>
                        <li><a href="aggUsuarios.html">AGREGAR USUARIO</a></li>
                        <li><a href="delUsuario.html">BORRAR USUARIO</a></li>
                        <li><a href="modUsuario.html">MODIFICAR USUARIO</a></li>
                    </ul>
                </li>
                <li>
                    <h2>EMPRESAS</h2>
                    <ul>
                        <li><a href="verEmpresa.html">VER EMPRESAS</a></li>
                        <li><a href="aggEmpresa.html">AGREGAR EMPRESA</a></li>
                        <li><a href="delEmpresa.html">BORRAR EMPRESA</a></li>
                        <li><a href="modEmpresa.html">MODIFICAR EMPRESA</a></li>
                    </ul>
                </li>
                <li>
                    <h2>ARTICULOS</h2>
                    <ul>
                        <li><a href="verArticulos.html">VER ARTICULOS</a></li>
                        <li><a href="aggArticulos.html">AGREGAR ARTICULOS</a></li>
                        <li><a href="delArticulos.html">BORRAR ARTICULOS</a></li>
                        <li><a href="modArticulos.html">MODIFICAR ARTICULOS</a></li>
                    </ul>
                </li>
                <li>
                    <h2>COMPRAS</h2>
                    <ul>
                        <li><a href="verCompras.html">VER COMPRAS</a></li>
                        <li><a href="aggCompras.html">AGREGAR COMPRAS</a></li>
                        <li><a href="delCompras.html">BORRAR COMPRAS</a></li>
                        <li><a href="modCompras.html">MODIFICAR COMPRAS</a></li>
                    </ul>
                </li>
                <li>
                    <h2>ENVIOS</h2>
                    <ul>
                        <li><a href="verEnvios.html">VER ENVIOS</a></li>
                        <li><a href="aggEnvios.html">AGREGAR ENVIOS</a></li>
                        <li><a href="delEnvios.html">BORRAR ENVIOS</a></li>
                        <li><a href="modEnvios.html">MODIFICAR ENVIOS</a></li>
                    </ul>
                </li>
            </ul>

        </nav>
    </main>
    <footer class="footer">
        <p>© 2024 Pigeon e-Shop. Todos los derechos reservados.</p>
    </footer>

</body>

</html>