<!-- LOGIN -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index Crud</title>
    </head>
    <body>
        <section>
            <h4 id="title"></h4>
        </section>
        <script src="../../assets/js/jquery-3.7.1.min.js"></script>
        <script>
            $(document).ready(function () {
                let user = prompt("USUARIO: ");
                let pass = prompt("CONTRASENA: ");
                $.ajax({
                    type: "POST",
                    url: "/controller/login.controller.php",
                    data: {
                        mode: "logIn",
                        usuario: user,
                        password: pass,
                    },
                    dataType: "JSON",
                    success: function (response) {
                        console.log(response);
                        if (response.status === "OK") {
                            document.cookie = "authToken=true; path=/;";
                            window.location.replace("/view/admin/crud.html");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr, status, error);
                    },
                });
                $("#title").html("Si no pudiste iniciar sesion refresca la pagina. Si tienes prblemas para iniciar sesion comunicate con el servicio al cliente o con tu empresa.");
            });
        </script>
    </body>
</html>
