<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Producto - Pigeon e-Shop</title>
        <style>
            * {
                font-family: "Core Rhino 85";
                color: #417a93;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://kit.fontawesome.com/81581fb069.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../assets/css/styles.css" />
        <link rel="stylesheet" href="../../assets/css/header.css" />
        <link rel="stylesheet" href="../../assets/css/detalle_producto.css" />
        <link rel="stylesheet" href="../../assets/css/footer.css" />
    </head>
    <body>
        <header class="container-flex">
            <div class="container-hero">
                <div class="container wx-5 px-md-5 px-xs-0 p-3 container hero">
                    <div class="customer-support d-none d-sm-flex">
                        <i class="fa-solid fa-headset"></i>
                        <div class="content-customer-support">
                            <span class="text" user-select="false">Soporte al cliente</span>
                            <span class="number">2204 3983</span>
                        </div>
                    </div>

                    <div class="container-logo">
                        <h1 class="logo"><a href="/">Pigeon e-Shop</a></h1>
                    </div>

                    <div class="container-user">
                        <div class="">
                            <div class="dropdown">
                                <button type="button" class="fa-solid fa-user btn border-0" data-bs-toggle="dropdown" data-toggle="dropdown" data-bs-auto-close="outside"></button>
                                <div class="dropdown-menu col-md-6">
                                    <a class="dropdown-item" href="/view/tienda/signIn.html">Inicia sesion ahora</a>
                                    <a class="dropdown-item" href="/view/tienda/signUp.html">Aun no tienes cuenta? Registrate ya!</a>
                                </div>
                            </div>
                        </div>
                        <!-- DIVISOR VERTICAL -->
                        <div class="vr"></div>
                        <div class="content-shopping-cart d-inline">
                            <a href="/view/tienda/carrito.html">
                                <i class="fa-solid fa-basket-shopping"></i>
                                <span class="text d-none d-sm-inline d-xs-inline">Carrito</span>
                                <span id="cantArticulos" class="number"> </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="container my-4">
            <div class="row">
                <div class="col-md-6">
                    <img src="" id="imagenArticulo" class="product-img" alt="Producto" />
                </div>
                <div class="col-md-6">
                    <div class="product-details">
                        <h1 class="product-title" id="nombreArticulo">Nombre del Producto</h1>
                        <p class="product-description" id="descripcionArticulo">Descripción detallada del producto...</p>
                        <p class="product-price" id="precioProducto">$XX.XX</p>
                        <p class="product-price" id="precioProducto1" style="display: none;">$XX.XX</p>
                        <div class="product-stock-container" style="display: none;">
                            <hr>
                            <p class="product-stock" id="stockProducto">X Por el momento no tenemos stock. :(</p>
                            <hr>
                        </div>
                        <button class="btn btn-add-to-cart"><i class="fa-solid fa-shopping-cart"></i> Agregar al Carrito</button>
                        <p class="mt-4"><i class="fa-solid fa-plane-up"></i> Envío gratuito a nivel mundial</p>
                        <p><i class="fa-solid fa-wallet"></i> Reembolso en caso de fallas</p>
                        <p><i class="fa-solid fa-gift"></i> Tarjetas de regalo</p>
                        <p><i class="fa-solid fa-headset"></i> Servicio al cliente 24/7</p>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <p>© 2024 Pigeon e-Shop. Todos los derechos reservados.</p>
        </footer>
        <script src="../../assets/js/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                const urlParams = new URLSearchParams(window.location.search);
                const productId = urlParams.get("id");
                const mode = urlParams.get("modo");
                if (productId) {
                    $.ajax({
                        url: "../../controller/index.controller.php",
                        method: "GET",
                        data: { id: productId, mode: mode },
                        dataType: "json",
                        success: function (data) {
                            if (data.error) {
                                $("#nombreArticulo").text("Producto no encontrado");
                                $("#descripcionArticulo").text("");
                                $("#precioProducto").text("");
                                $("#precioProducto1").text("");
                                $("#imagenArticulo").attr("src", "");
                            } else {
                                let producto = data.articulo[0];
                                $("#nombreArticulo").text(producto.nombre);
                                $("#descripcionArticulo").text(producto.descripcion);
                                $("#precioProducto").text("$" + producto.precio);
                                if (data.descuento[0].descuento != 0) {
                                    $("#precioProducto").css("text-decoration", "line-through solid blue 3px");
                                    $("#precioProducto").css("display", "inline");
                                    $("#precioProducto1").text(data.descuento[0].descuento + "% | ");
                                    $("#precioProducto1").append("$" + (parseFloat(producto.precio) * (1 - data.descuento[0].descuento / 100)).toFixed(2));
                                    $("#precioProducto1").css("display","block");
                                    $("#precioProducto1").css("color","red");
                                }
                                if (data.stock[0].stock != 0) {
                                    $(".product-stock-container").css("display","block");
                                    $("#stockProducto").text("Tenemos " + data.stock[0].stock + " en stock. Compra antes de que se acabe!");
                                } else {
                                    // $(".product-stock-container").css("display","block");
                                }
                                $("#imagenArticulo").attr("src", producto.rutaImagen);
                            }
                        },
                        error: function () {
                            $("#nombreArticulo").text("Error al cargar el producto");
                            $("#descripcionArticulo").text("");
                            $("#precioProducto").text("");
                            $("#imagenArticulo").attr("src", "");
                        },
                    });
                } else {
                    $("#nombreArticulo").text("ID del producto no especificado");
                    $("#descripcionArticulo").text("");
                    $("#precioProducto").text("");
                    $("#imagenArticulo").attr("src", "");
                }
            });
        </script>
    </body>
</html>
