<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Iniciar Sesion</title>
        <style>
            header {
                font-family: "Core Rhino 85";
                color: #417a93;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css" integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../assets/css/header.css" />
        <link rel="stylesheet" href="../../assets/css/styles.css" />
        <link rel="stylesheet" href="../../assets/css/footer.css" />
        <link rel="stylesheet" href="../../assets/css/signIn.css" />
    </head>

    <body>
        <header>
            <div class="container-hero">
                <div class="container wx-5 px-md-5 px-xs-0 p-3 container hero">
                    <div class="customer-support d-none d-sm-flex">
                        <i class="fa-solid fa-headset"></i>
                        <div class="content-customer-support">
                            <span class="text" user-select="false">Soporte al cliente</span>
                            <span class="number">2204 3983</span>
                        </div>
                    </div>

                    <div class="container-logo">
                        <h1 class="logo"><img src="/assets/img/logo.png" class="d-none d-sm-inline" title="Logo Pigeon e-Shop" height="37" /><a href="/">Pigeon e-Shop</a></h1>
                    </div>

                    <div class="container-user">
                        <div id="contenedor-usuario-login" class="">
                            <div class="dropdown">
                                <button type="button" class="fa-solid fa-user btn border-0" data-bs-toggle="dropdown" data-toggle="dropdown" data-bs-auto-close="outside"></button>
                                <div class="dropdown-menu col-md-6">
                                    <a class="dropdown-item" href="/view/tienda/signIn.html">Inicia sesion ahora</a>
                                    <a class="dropdown-item" href="/view/tienda/signUp.html">Aun no tienes cuenta? Registrate ya!</a>
                                </div>
                            </div>
                        </div>
                        <!-- DIVISOR VERTICAL -->
                        <div class="vr"></div>
                        <div class="content-shopping-cart d-inline">
                            <a href="/view/tienda/carrito.html">
                                <i class="fa-solid fa-basket-shopping"></i>
                                <span class="text d-none d-sm-inline d-xs-inline">Carrito</span>
                                <span id="cantArticulos" class="number"> </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="container w-sm-100 w-50">
            <form id="signInForm" class="row g-1 xs-h6 mt-5">
                <div class="sm-row-2">
                    <label for="inputEmail4" class="form-label sm-col">Correo electrónico</label>
                    <input type="email" class="form-control texto sm-col" id="emailIS" required />
                </div>
                <div>
                    <div>
                        <label for="passwordIS" class="form-label">Contraseña</label>
                        <label class="float-end d-flex justify-content-end col-sm-6 col-xs-7" for="showPasswordCheckbox">
                            <input name="mostrarContra" type="checkbox" class="m-2" id="showPasswordCheckbox" />
                            Mostrar contraseña
                        </label>
                    </div>
                    <input type="password" class="form-control texto" id="passwordIS" required />
                    <div class="col-4 col-sm-6 col-xs-7" id="recordar">
                        <label for="recuerdaCheck"> <input name="recuerdaCheck" type="checkbox" class="m-2" id="recuerdaCheck" /> Recuérdame</label>
                    </div>
                </div>
                <br />
                <div>
                    <a href="olvideContrasena.html" style="text-decoration: none">¿Has olvidado tu contraseña?</a>
                </div>
                <br />
                <div>
                    <p>¿Aún no tienes una cuenta? <a href="signUp.html">Registrarse</a></p>
                </div>
                <div>
                    <p>¿Eres un vendedor? <a href="/view/backoffice/login.vendedor.html">Inicia Sesion aqui</a></p>
                </div>
                <div id="alertContainer">
                    
                </div>
                <div class="m-5 p-1">
                    <button id="signInBtn" type="submit" role="button" class="btn btn-primary">Iniciar sesión</button>
                </div>
            </form>
        </main>
        <footer class="footer">
            <p>© 2024 Pigeon e-Shop. Todos los derechos reservados.</p>
        </footer>
        <script src="../../assets/js/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/2ae06670b8.js" crossorigin="anonymous"></script>
        <script type="module" src="/assets/js/sign.js"></script>
        <script src="assets/js/buscador.js"></script>
        <script>
        </script>
    </body>
</html>