<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Iniciar Sesion</title>
        <style>
            header {
                font-family: "Core Rhino 85";
                color: #417a93;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../assets/css/header.css">
        <link rel="stylesheet" href="../../assets/css/styles.css">
        <link rel="stylesheet" href="../../assets/css/footer.css">
        <link rel="stylesheet" href="../../assets/css/signIn.css">
    </head>
    <body>
        <header>
            <div class="container-hero">
                <div class="container wx-5 px-md-5 px-xs-0 p-3 container hero">
                    <div class="customer-support d-none d-sm-flex">
                        <i class="fa-solid fa-headset"></i>
                        <div class="content-customer-support">
                            <span class="text" user-select="false">Soporte al cliente</span>
                            <span class="number">2204 3983</span>
                        </div>
                    </div>

                    <div class="container-logo">
                        <h1 class="logo"><a href="/">Pigeon e-Shop</a></h1>
                    </div>

                    <div class="container-user">
                        <div class="">
                            <div class="dropdown">
                                <button type="button" class="fa-solid fa-user btn border-0" data-bs-toggle="dropdown" data-toggle="dropdown" data-bs-auto-close="outside"></button>
                                <div class="dropdown-menu col-md-6">
                                    <a class="dropdown-item" href="signIn.html">Inicia sesion ahora</a>
                                    <a class="dropdown-item" href="signUp.html">Aun no tienes cuenta? Registrate ya!</a>
                                </div>
                            </div>
                        </div>
                        <!-- DIVISOR VERTICAL -->
                        <div class="vr"></div>
                        <div class="content-shopping-cart d-inline">
                            <a href="carrito.html">
                                <i class="fa-solid fa-basket-shopping"></i>
                                <span class="text d-none d-sm-inline d-xs-inline">Carrito</span>
                                <span id="cantArticulos" class="number"> </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-navbar p-2">
                <nav class="container navbar navbar-expand-md">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle d-none d-lg-block" id="dropdownCategorias" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorías</button>
                                <button class="btn btn-search navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownCategorias">
                                    <li class="dropdown dropend dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Electrónica</a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">Teléfonos móviles</a></li>
                                            <li><a class="dropdown-item" href="#">Computadoras y Laptops</a></li>
                                            <li><a class="dropdown-item" href="#">Televisores y Audio</a></li>
                                            <li><a class="dropdown-item" href="#">Accesorios tecnológicos</a></li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li><a href="" class="dropdown-item">Ver todo</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropend dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Ropa y Moda</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Ropa de Hombre</a></li>
                                            <li><a class="dropdown-item" href="#">Ropa de Mujer</a></li>
                                            <li><a class="dropdown-item" href="#">Zapatos y Accesorios</a></li>
                                            <li><a class="dropdown-item" href="#">Ropa para Niños</a></li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li><a href="" class="dropdown-item">Ver todo</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropend dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Hogar y Jardín</a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">Muebles</a></li>
                                            <li><a class="dropdown-item" href="#">Decoración</a></li>
                                            <li><a class="dropdown-item" href="#">Herramientas y Mejoras para el Hogar</a></li>
                                            <li><a class="dropdown-item" href="#">Jardinería</a></li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li><a href="" class="dropdown-item">Ver todo</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropend dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Salud y Belleza</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Productos para el Cuidado de la Piel</a></li>
                                            <li><a class="dropdown-item" href="#">Maquillaje</a></li>
                                            <li><a class="dropdown-item" href="#">Productos para el Cuidado del Cabello</a></li>
                                            <li><a class="dropdown-item" href="#">Suplementos y Vitaminas</a></li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li><a href="" class="dropdown-item">Ver todo</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropend dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Deportes y Aire Libre</a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">Equipamiento Deportivo</a></li>
                                            <li><a class="dropdown-item" href="#">Ropa Deportiva</a></li>
                                            <li><a class="dropdown-item" href="#">Bicicletas y Patinetes</a></li>
                                            <li><a class="dropdown-item" href="#">Camping y Senderismo</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a href="" class="dropdown-item">Ver todo</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropend dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Juguetes y Juegos</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Juguetes para Niños</a></li>
                                            <li><a class="dropdown-item" href="#">Juegos de Mesa</a></li>
                                            <li><a class="dropdown-item" href="#">Videojuegos y Consolas</a></li>
                                            <li><a class="dropdown-item" href="#">Puzzles y Rompecabezas</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a href="" class="dropdown-item">Ver todo</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropend dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Automóviles y Motocicletas</a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">Accesorios para Automóviles</a></li>
                                            <li><a class="dropdown-item" href="#">Accesorios para Motocicletas</a></li>
                                            <li><a class="dropdown-item" href="#">Herramientas y Equipos</a></li>
                                            <li><a class="dropdown-item" href="#">Neumáticos y Llantas</a></li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li><a href="" class="dropdown-item">Ver todo</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropend dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Alimentos y Bebidas</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Comida Gourmet</a></li>
                                            <li><a class="dropdown-item" href="#">Bebidas Alcohólicas</a></li>
                                            <li><a class="dropdown-item" href="#">Alimentos Orgánicos</a></li>
                                            <li><a class="dropdown-item" href="#">Snacks y Dulces</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a href="" class="dropdown-item">Ver todo</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropend dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Bebés y Niños</a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">Ropa de Bebé</a></li>
                                            <li><a class="dropdown-item" href="#">Juguetes para Bebés</a></li>
                                            <li><a class="dropdown-item" href="#">Productos para la Alimentación del Bebé</a></li>
                                            <li><a class="dropdown-item" href="#">Mobiliario Infantil</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a href="" class="dropdown-item">Ver todo</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropend dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Libros y Música</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Libros Físicos y E-Books</a></li>
                                            <li><a class="dropdown-item" href="#">Música y CD's</a></li>
                                            <li><a class="dropdown-item" href="#">Instrumentos Musicales</a></li>
                                            <li><a class="dropdown-item" href="#">Audiolibros y Podcasts</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a href="" class="dropdown-item">Ver todo</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a href="" class="dropdown-item">Ver todos los articulos</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ofertas del día</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="comoComprar.html">Cómo comprar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="servicioCliente.html">Servicio al cliente</a>
                            </li>
                        </ul>
                    </div>
                    <form class="search-form">
                        <input type="search" class="" onkeyup="mostrarResultados()" placeholder="Buscar..." />
                        <button class="btn-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </nav>
            </div>
        </header>
        <main class="container">
            <form id="signInForm" class="row g-1 xs-h6 mt-5">
                <div class="sm-row-2">
                    <label for="inputEmail4" class="form-label sm-col">Correo electrónico</label>
                    <input type="email" class="form-control texto sm-col" id="emailIS" required />
                </div>
                <div>
                    <div>
                        <label for="passwordIS" class="form-label">Contraseña</label>
                        <label class="float-end d-flex justify-content-end col-sm-6 col-xs-7" for="showPasswordCheckbox"> <input name="mostrarContra" type="checkbox" class="m-2" id="showPasswordCheckbox" />Mostrar contraseña</label>
                    </div>
                    <input type="password" class="form-control texto" id="passwordIS" required />
                    <br />
                    <br />
                    <div class="col-4 col-sm-6 col-xs-7" id="recordar">
                        <label for="recuerdaCheck"> <input name="recuerdaCheck" type="checkbox" class="m-2" id="recuerdaCheck"> Recuérdame</label>
                    </div>
                </div>
                <br />
                <div>
                    <a href="olvideContrasena.html" style="text-decoration: none">¿Has olvidado tu contraseña?</a>
                </div>
                <br />
                <div>
                    <p>¿Aún no tienes una cuenta? <a href="signUp.html">Registrarse</a></p>
                </div>
                <div class="m-5 p-1">
                    <button id="signInBtn" class="btn btn-primary">Iniciar sesión</button>
                </div>
            </form>
        </main>
        <footer class="footer">
            <p>© 2024 Pigeon e-Shop. Todos los derechos reservados.</p>
        </footer>
        <script src="../../assets/js/jquery-3.7.1.min.js"></script>
        <script src="../../assets/js/sign.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    </body>
</html>
